@import '../../common';

.Container {

    @extend .center;
    width: $container-width;
    height: $container-height;
    color    : $text-color;

    .Form {
        @extend .vertical-center;
        width: 400px;

        h2 {
            text-align: left;
        }

        .InputField {
            text-align: left;
        }
    }
}


@media screen and (max-width: $breakpoint-mobile) {
    .Container {
        .Form {
            width: 100%;
        }
    }
}